@page
@using Web.Pages;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/reset.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="wrapper">        
        <div class="container">
            <div class="main-body">
                <h2>Введите имя:</h2>
                @Html.TextBox("NameTextBox", @Model.NamePatient, new { @class = "textbox" })
                <h2>Введите фамилию:</h2>
                <input type="text" name="Surname" value="@Model.SurnamePatient" class="textbox">
                <h2>Выберите врача:</h2>
                <div class="droplist">
                    @Html.DropDownList("DoctorsDropList", Model.Doctors, new { @class = "form-control" })
                </div>
                <h2>Выберите время приема:</h2>
                <div class="drop">
                    @Html.DropDownList("AppointmentTimeDropList", Model.AppointmentTimes, new { @class = "form-control" })
                </div>
                <input type="button" name="createAppointment"/>
            </div>
        </div>
    </div>
</body>

